[package]
name = "odyssey-node"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
revm-precompile.workspace = true
reth-cli.workspace = true
reth-node-api.workspace = true
reth-node-builder.workspace = true
reth-optimism-node.workspace = true
reth-optimism-forks.workspace = true
reth-optimism-chainspec.workspace = true
reth-chainspec.workspace = true
reth-payload-builder.workspace = true
reth-primitives.workspace = true
reth-evm.workspace = true
reth-revm.workspace = true
reth-transaction-pool.workspace = true
reth-network.workspace = true
reth-network-types.workspace = true

alloy-primitives.workspace = true

serde_json.workspace = true
tracing.workspace = true
eyre.workspace = true
revmc = "0.1.0"

[lints]
workspace = true

[build-dependencies]
revmc-build = "0.1.0"
